# Visual Studio
.vs/

# Build folders
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider
.idea/

# VS Code
.vscode/

# Logs
*.log

# NuGet packages
packages/

# Test results
TestResults/